
<script type="text/javascript" src="https://code.highcharts.com/stock/highstock.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script type="text/javascript" src="../../js/home.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

<link rel="stylesheet" type="text/css" href="../../css/styles.css"></link>
<link rel="stylesheet" type="text/css" href="../../css/home.css"></link>

<div id="stock-graph" class="container"></div>


<div id='interface-box' class='container'>
  <div id='add-stock'>
    <button id='submit-btn' class='stock-input'>Send</button><input id='stock-box' class='stock-box stock-input' type="text" placeholder='Look up stock...'>
  </div>
  <div id='message-box' class="stock-message"></div>
</div>


&nbsp;

<div id='stock-list' class='container'>

</div>
