<link rel="stylesheet" href="/css/login.css" />

<h4 class='center'>Please login to use {{appInfo.title}}.</h4>

<div class="center">
  <a class='btn btn-facebook btn-login' href="/auth/facebook">Login with Facebook</a>
</div>
