<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../js/yelp.js"></script>
<link rel="stylesheet" type="text/css" href="../../css/yelp.css"></link>

<h3 class='center'>About</h3>

<h5>The app is designed to help people connect and meetup at night spots. After
  logging in with Facebook and a location is entered, it will use Yelp's Fusion
  API to find local hotspots. The user can click a button to indicate his intent
  to visit that spot tonight and see how many people are planning on attending.</h5>

<h5>The database resets itself for each new evening. Any entries that are before 6AM
  (local time) will be purged as it is a new day.</h5>

<h5>This app was created towards the completion of <a href="www.freecodecamp.org">Free Code Camp</a>'s <i>Back End Development Certificate.</i></h5>
<br><br>
<div class="center">
  <a class='btn btn-success' href="/">Return Home</a>
</div>
